body {
    margin: 0px;
  }
  
.sidebar {
    width: 150px;
    background-color: green;
    color: whitesmoke;
    height: 100vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    text-align: right;
}
  
.item {
    font-weight: bold;
    margin: 10px;
    font-family: 
      "Helvetica Neue", sans-serif;
  
}
